body{
  padding: 20px;
  background-color: #53FFA1;
  font-size: 100%;
}
p    {

  font-family: serif;
  color:red;
  font-size: 75%;
  padding: 25px;
  margin: 45px;
  text-align: center;
}

h2 {
  font-family: verdana;
  font-size: 125%;
  border: 3px solid;
}
